:root {
  --header-image: url("./assets/beer_bg.jpg");
  --bs-primary: #ffbf00;
  --bs-fg: #463730e5;
}

img {
  pointer-events: none;
  -webkit-user-drag: none;
}
header {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    var(--header-image) center;
  background-size: 125%;
}

.navbar {
  --navbar-height: 70px;
}

.sticky-top {
  top: 0;
  z-index: 1020;
  position: sticky;
}

.emptyContainer {
  height: 70px;
}

.btn-primary {
  background-color: transparent;
  border-color: var(--bs-primary);
}

.btn-primary:hover {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  filter: brightness(0.95);
}

button.btn.btn-primary:active {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  filter: brightness(0.75);
}

.carousel {
  justify-self: center;
  width: 20%;
}

.carousel-caption {
  justify-self: center;
  width: 25%;
  padding: 1%;
  background-color: var(--bs-primary);
}

.carousel-item img {
  justify-self: center;
  width: 200px;
  height: 100%;
}

.carousel-inner {
  justify-self: center;
}

.carousel-indicators {
  justify-self: center;
  width: 40%;
}

.card-label {
  color: white;
  font-weight: bold;
  text-align: center;
}

#portfolio {
  padding: 40px;
  align-items: center;
  justify-items: center;
}

.card {
  align-items: center;
  padding: 15px;
  gap: 10p;
  color: white;
  width: 15%;
}

.contacts-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

h2 {
  text-align: center;
  padding-bottom: 20px;
}

.mapContainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
